* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#p1 {
    color: white;
}

#s1 {
    background-color: darkred;
}

#s2 {
    background-color: red;
}

#s3 {
    background-color: lightcoral;
}

#p2 {
    color: darkred;
}

#s4 {
    background-color: darkorange;
}

#s5 {
    background-color: orange;
}

#s6 {
    background-color: lightsalmon;
}

#p3 {
    color: darkred;
}

#s7 {
    background-color: darkgoldenrod;
}

#s8 {
    background-color: goldenrod;
}

#s9 {
    background-color: lightgoldenrodyellow;
}

#p4 {
    color: gold;
}

#s10 {
    background-color: darkgreen;
}

#s11 {
    background-color: green;
}

#s12 {
    background-color: lightgreen;
}

#p5 {
    color: green;
}

#s13 {
    background-color: darkblue;
}

#s14 {
    background-color: blue;
}

#s15 {
    background-color: lightblue;
}

#p6 {
    color: lightblue;
}

#s16 {
    background-color: purple;
}

#s17 {
    background-color: darkviolet;
}

#s18 {
    background-color: violet;
}

#p7 {
    color: white;
}

#s19 {
    background-color: black;
}

#s20 {
    background-color: grey;
    color: lightgrey;
}

#s21 {
    background-color: white;
    color: black;
}