* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    max-width: 1200px;
    margin: 48px auto;
    display: flex;
}

#thumbnail-colum {
    flex: 1;
}

#featured-image-colum {
    flex: 2;
}

#product-info-colum {
    flex: 3;
}

.head1 {
    font-size: 40px;
    font-weight: bold;
}

.user {
    font-size: 15px;
    font-weight: bolder;
}

.info {
    font-size: 15px;
    color: black;
}

.price {
    font-size: 40px;
    font-weight: bold;
}

.click1 {
    text-decoration: none;
    color: white;
    background-color: rgb(81, 154, 250);
    padding: 20px;
    border-radius: 100px;
    display: block;
    font-size: 40px;
    font-weight: bold;
}

.click2 {
    text-decoration: none;
    color:  rgb(81, 154, 250); 
    border: 3px solid rgb(81, 154, 250);
    padding: 20px;
    border-radius: 100px;
    display: block;
    font-size: 40px;
    font-weight: bold;
}

.click3 {
    text-decoration: none;
    color:  rgb(81, 154, 250); 
    border: 3px solid rgb(81, 154, 250);
    padding: 20px;
    border-radius: 100px;
    display: block;
    font-size: 40px;
    font-weight: bold;
}